body {
  font-family: sans-serif;
  width: 250px;
  padding: 10px;
}

#email-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.email-item {
  padding: 4px;
  background: #f3f3f3;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.email-item:hover {
  background: #d0e8ff;
}
